.tab {
    overflow: hidden;
}

    /* Style the buttons inside the tab */
    .tab button {
        font-family: 'Montserrat';
        font-weight: lighter;
        font-size: 28px;
        color: #4d4c4c;
        background-color: inherit;
        float: left;
        border: 1px;
        border-style: solid;
        border-left: none;
        border-top: none;
        border-right: none;
        border-color: #4d4c4c;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            border: 5px;
            border-style: solid;
            border-color: #ce92b9;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            color: #C759A0;
            border: 5px;
            border-style: solid;
            border-color: #ce92b9;
            border-top: none;
            border-left: none;
            border-right: none;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    width: 60%;
}

label {
    padding: 5px;
    font-family: 'Nunito';
    font-size: 18px;
    color: #4d4c4c;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 5px;
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
}
select {
    display: block;
    padding: 5px 5px;
    border-radius: 5px;
    color: #4d4c4c;
    width: 100%;
}
.btn {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    border: none;
    background-color: #209BFF;
    border-radius: 12px;
    display: block;
    float: left;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
}

