

/* Full-width inputs */
input[type=text], input[type=password] {
    font-family: 'Nunito';

    font-size: 14px;
    color: #4d4c4c;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 18px;
    color: #4d4c4c;
}

/* Set a style for all buttons */
button {
    font-family: 'Nunito';
    font-size: 14px;
    color: #4d4c4c;
    background-color: #CE92B9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }



/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 20px 0 12px 0 ;
    
}

/* Avatar image */
img.avatar {
    width: 20%;
    
}

/* Add padding to containers */
.container {
    margin: auto;
    padding: 16px;
    width: 40%;
    
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
