.column {
    float: left;
    padding-right: 10px;
}

.text {
    width: 5%;
    font-family: 'Nunito';
    color: #4d4c4c;
    font-size: 18px;
    text-align: center;
    margin-top: 52px;
}

.left, .right {
    width: 25%;
}

.left2 {
    width: 25%;
}

.right2 {
    width: 10%
}

.middle {
    width: 10%;
}

.middleLeft, .middleRight {
    width: 15%;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.btn {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    border: none;
    background-color: #209BFF;
    border-radius: 12px;
    display: block;
    float: left;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
}

label {
    display: block;
    padding: 10px;
    font-family: 'Nunito';
    color: #4d4c4c;
}

select {
    display: block;
    padding: 5px 5px;
    border-radius: 5px;
    color: #4d4c4c;
}

option {
    padding: 5px;
}

#items {
    width: 100%;
}

#archiveDate {
    width: 100%;
    padding: 5px;
    border-color: #4d4c4c;
    font-size: 16px;
    font-family: 'Nunito';
}

#start {
    width: 90%;
    display: block;
    padding: 4.5px 4.5px;
    border: 1px solid #4d4c4c;
    font-size: 14px;
    font-family: 'Nunito';
    color: #4d4c4c;
    margin-top: 7px;
}

#date {
    width: 100%;
}

.center {
    padding: 33px 0 0 10px;
}

p {
    width: 50%;
    border: 0.5px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #4d4c4c;
    font-family: 'Nunito';
    color: #4d4c4c;
}

table {
    width: 70%;
}

td {
    font-family: 'Nunito';
    font-size: 12px;
    color: #4d4c4c;
    background: #E8E8E8;
    padding: 10px;
}
/*a column of blank cells for formatting*/
.blank {
    background: #FFF;
    width: 5%;
    padding: 0;
}

.btnHeadMainBlue {
    font-family: 'Montserrat';
    width: 100%;
    font-size: 20px;
    text-align: left;
    color: #579bfc;
    background: none;
    border: none;
    padding: 10px, 0, 10px, 0;
    cursor: pointer;
    text-align: left;
}
.btnHeadMainGreen {
    font-family: 'Montserrat';
    width: 100%;
    font-size: 20px;
    text-align: left;
    color: #2fc876;
    background: none;
    border: none;
    padding: 10px, 0, 10px, 0;
    cursor: pointer;
    text-align: left;
}
.btnHeadMainPurple {
    font-family: 'Montserrat';
    width: 100%;
    font-size: 20px;
    text-align: left;
    color: #c759a0;
    background: none;
    border: none;
    padding: 10px, 0, 10px, 0;
    cursor: pointer;
    text-align: left;
}
.btnHeadMainOrange {
    font-family: 'Montserrat';
    width: 100%;
    font-size: 20px;
    text-align: left;
    color: #e67300;
    background: none;
    border: none;
    padding: 10px, 0, 10px, 0;
    cursor: pointer;
    text-align: left;
}

.btnHeadSmall {
    font-family: 'Nunito';
    font-size: 12px;
    color: #4d4c4c;
    background: none;
    border: none;
    padding: 10px, 0, 10px, 0;
    cursor: pointer;
}
.colButton{
    background: none;
    border: none;
}
/*a small grey triangle to be inserted inside a div*/
.triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #4d4c4c;
}

/* a cicle with a triangle inside*/
.circle-blue {
    display: inline-block;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #579bfc;
    position: relative;
    border: none;
}

    .circle-blue:before {
        content: '';
        display: block;
        border-left: solid 5px transparent;
        border-top: solid 5px #FFF;
        border-right: solid 5px transparent;
        position: absolute;
        top: 40%;
        left: 20%;
    }
.circle-green {
    display: inline-block;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #2fc876;
    position: relative;
    border: none;
}

    .circle-green:before {
        content: '';
        display: block;
        border-left: solid 5px transparent;
        border-top: solid 5px #FFF;
        border-right: solid 5px transparent;
        position: absolute;
        top: 40%;
        left: 20%;
    }
.circle-purple {
    display: inline-block;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #c759a0;
    position: relative;
    border: none;
}

    .circle-purple:before {
        content: '';
        display: block;
        border-left: solid 5px transparent;
        border-top: solid 5px #FFF;
        border-right: solid 5px transparent;
        position: absolute;
        top: 40%;
        left: 20%;
    }
.circle-orange {
    display: inline-block;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #e67300;
    position: relative;
    border: none;
}

    .circle-orange:before {
        content: '';
        display: block;
        border-left: solid 5px transparent;
        border-top: solid 5px #FFF;
        border-right: solid 5px transparent;
        position: absolute;
        top: 40%;
        left: 20%;
    }

#mealTble {
    width: 60%;
}

#stockTble {
    width: 30%;
}

td.meal {
    text-align: left;
    width: 40%;
    background: none;
}

th.totalh {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
    color: #4d4c4c;
}

th.nameh {
    font-family: 'Nunito';
    font-size: 20px;
    color: #4d4c4c;
}

th.deliveries {
    width: 25%;
}

td.total {
    width: 6%;
    font-family: 'Nunito';
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #4d4c4c;
    background: none;
}

td.entry {
    width: 18%;
    text-align: center;
    font-family: 'Nunito';
    font-size: 24px;
    color: #4d4c4c;
    background-color: #E8E8E8;
    border: 3px solid #fff
}

td.stockItem {
    width: 70%;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
    color: #4d4c4c;
    background: none;
}

td.stock {
    width: 6%;
    font-family: 'Nunito';
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #4d4c4c;
}

.addBtn {
    text-align: left;
    padding: 5px 0px 5px 10px;
    margin-left: 35px; 
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
    border: 1px solid #4d4c4c;
    background: none;
    cursor: pointer;
    width: 66%;

}

#search {
    margin-right: 10%;
    float: right;
}

input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
}


input::placeholder {
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
}


/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    border-left: 0.5px solid #4d4c4c;
    overflow-x: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    background: white;
}

    /* The sidepanel links */
    .sidepanel a {
        text-decoration: none;
        font-size: 25px;
        color: #4d4c4c;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidepanel a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        padding-top: 20px;
        font-size: 36px;
    }

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

.tab {
    overflow: hidden;
}

    /* Style the buttons inside the tab */
    .tab button {
        font-family: 'Montserrat';
        font-weight: lighter;
        font-size: 28px;
        color: #4d4c4c;
        background-color: inherit;
        float: left;
        border: 1px;
        border-style: solid;
        border-left: none;
        border-top: none;
        border-right: none;
        border-color: #4d4c4c;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            border: 5px;
            border-style: solid;
            border-color: #ce92b9;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            color: #C759A0;
            border: 5px;
            border-style: solid;
            border-color: #ce92b9;
            border-top: none;
            border-left: none;
            border-right: none;
        }

.tabcontent {
    height: 100%;
    display: none;
    padding: 6px 15px;
    padding-bottom: 100px;
}



#date {
    width: 100%;
    padding: 5px;
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
}

label, .b {
    padding: 5px;
    font-family: 'Nunito';
    font-size: 18px;
    color: #4d4c4c;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
}

input[type=number] {
    display: inline-block;
    width: 40px;
    float: right;
    margin-right: 10%;
}

#note {
    width: 90%;
    height: 90px;
    display: block;
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
}

textarea {
    width: 100%;
    height: 200px;
    display: block;
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
}

/* adds coloums for styling page*/
.column {
    float: left;
    padding-right: 10px;
}

.left {
    width: 30%;
}

.right {
    width: 60%;
    float: right;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    border: none;
    background-color: #209BFF;
    border-radius: 12px;
    display: block;
    float: left;
    padding: 8px 40px 8px 40px;
    margin-top: 20px;
}

p {
    width: 100%;
    border: 0.5px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #4d4c4c;
    font-family: 'Nunito';
    color: #4d4c4c;
}

table {
    width: 100%;
}

td {
    padding: 10px;
    background: #E8E8E8;
    text-align: center;
    font-family: 'Nunito';
    font-size: 20px;
    color: #4d4c4c;
}
.tab {
    overflow: hidden;
}

    /* Style the buttons inside the tab */
    .tab button {
        font-family: 'Montserrat';
        font-weight: lighter;
        font-size: 28px;
        color: #4d4c4c;
        background-color: inherit;
        float: left;
        border: 1px;
        border-style: solid;
        border-left: none;
        border-top: none;
        border-right: none;
        border-color: #4d4c4c;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            border: 5px;
            border-style: solid;
            border-color: #ce92b9;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            color: #C759A0;
            border: 5px;
            border-style: solid;
            border-color: #ce92b9;
            border-top: none;
            border-left: none;
            border-right: none;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    padding-bottom: 100px;
}
/* adds coloums for styling page*/
.column {
    float: left;
    padding-right: 10px;
}

.text {
    width: 5%;
    font-family: 'Nunito';
    color: #4d4c4c;
    font-size: 18px;
    text-align: center;
    margin-top: 52px;
}

.left, .right {
    width: 25%;
}

.left2 {
    width: 25%;
}

.right2 {
    width: 10%
}

.middle {
    width: 10%;
}

.middleLeft, .middleRight {
    width: 15%;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.btn {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    border: none;
    background-color: #209BFF;
    border-radius: 12px;
    display: block;
    float: left;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
}

label {
    display: block;
    padding: 10px;
    font-family: 'Nunito';
    color: #4d4c4c;
}

select {
    display: block;
    padding: 5px 5px;
    border-radius: 5px;
    color: #4d4c4c;
}





option {
    padding: 5px;
}

#items {
    width: 100%;
}

#archiveDate {
    width: 100%;
    padding: 5px;
    border-color: #4d4c4c;
    font-size: 16px;
    font-family: 'Nunito';
}

#start {
    width: 90%;
    display: block;
    padding: 4.5px 4.5px;
    border: 1px solid #4d4c4c;
    font-size: 14px;
    font-family: 'Nunito';
    color: #4d4c4c;
    margin-top: 7px;
}

#date {
    width: 100%;
}

.center {
    padding: 33px 0 0 10px;
}

p {
    width: 50%;
    border: 0.5px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #4d4c4c;
    font-family: 'Nunito';
    color: #4d4c4c;
}

table {
    width: 70%;
}

td {
    font-family: 'Nunito';
    font-size: 12px;
    color: #4d4c4c;
    background: #E8E8E8;
    padding: 10px;
}
/*a column of blank cells for formatting*/
.blank {
    background: #FFF;
    width: 5%;
    padding: 0;
}

.btnHeadMain {
    font-family: 'Montserrat';
    width: 100%;
    font-size: 20px;
    text-align: left;
    color: #A35DDD;
    background: none;
    border: none;
    padding: 10px, 0, 10px, 0;
    cursor: pointer;
    text-align: left;
}

.btnHeadSmall {
    font-family: 'Nunito';
    font-size: 12px;
    color: #4d4c4c;
    background: none;
    border: none;
    padding: 10px, 0, 10px, 0;
    cursor: pointer;
}
/*a small grey triangle to be inserted inside a div*/
.triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #4d4c4c;
}

/* a cicle with a triangle inside*/
.circle {
    display: inline-block;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #A35DDD;
    position: relative;
    border: none;
}

    .circle:before {
        content: '';
        display: block;
        border-left: solid 5px transparent;
        border-top: solid 5px #FFF;
        border-right: solid 5px transparent;
        position: absolute;
        top: 40%;
        left: 20%;
    }

#mealTble {
    width: 60%;
}

#stockTble {
    width: 30%;
}

td.meal {
    text-align: left;
    width: 40%;
    background: none;
}

th.totalh {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
    color: #4d4c4c;
}

th.nameh {
    font-family: 'Nunito';
    font-size: 20px;
    color: #4d4c4c;
}

th.deliveries {
    width: 25%;
}

td.total {
    width: 6%;
    font-family: 'Nunito';
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #4d4c4c;
    background: none;
}

td.entry {
    width: 18%;
    text-align: center;
    font-family: 'Nunito';
    font-size: 24px;
    color: #4d4c4c;
    background-color: #E8E8E8;
    border: 3px solid #fff
}

td.stockItem {
    width: 70%;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
    color: #4d4c4c;
    background: none;
}

td.stock {
    width: 6%;
    font-family: 'Nunito';
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #4d4c4c;
}

.addBtn {
    width: 60%;
    text-align: left;
    padding: 5px 0 5px 10px;
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
    border: 1px solid #4d4c4c;
    background: none;
    cursor: pointer;
}

#search {
    margin-right: 10%;
    float: right;
}


input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
}


input::placeholder {
    font-family: 'Nunito';
    font-size: 16px;
    color: #4d4c4c;
}

.arrowBtn {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    width: 35px;
    height: 100%;
    cursor: pointer;
}



